body {
  background-image: url("https://www.shbarcelona.com/blog/en/wp-content/uploads/2016/04/Comedy-show.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #808080;
  font-family: 'Titan One', Helvetica, Arial, cursive;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

.header {
  padding: 15px;
  text-align: center;
  color: #c0c0c0;
}
.header i {
  display: inline-block;
  color: #c0c0c0;
  font-size: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.header div {
  display: inline-flex;
}


.jumbotron {
  color: #808080;
  border-radius: 10px;
}
.jombotron div {
  display: inline-flex;
}
.stats_title {
  display: inline-flex;
  text-align: center;
  padding-left: 375px;
}
.stats_title i, h2 {
  display: inline-flex;
  color: #808080;
  font-size: 50px;

}
.stats_content {
  display: inline-flex;
  padding-bottom: 30px;
  padding-left: 105px;
}
.stats_content h3 {
  padding-left: 30px;
}
.stats_content p, ul {
  padding-left: 70px;
  color: #c0c0c0;
}



.add_comic {
  background-color: #800000;
  border: 5px solid #808080;
  border-radius: 10px;
  color: #c0c0c0;
  text-align: center;
}
.click_link {
  color: #c0c0c0;
}
.click_link:hover {
  color: #808080;
}



.comic_box {
  background-color: #800000;
  border: 5px solid #808080;
  color: #c0c0c0;
  border-radius: 10px;
  padding-left: 50px;
}
.comic_box i {
  display: inline-block;
  color: #c0c0c0;
  font-size: 50px;
  padding-top: 20px;
}

.container {
  padding-bottom: 40px;
}



.special {
  display: inline-block;
  padding: 30px;
  padding-left: 100px;
  color: #c0c0c0;
}
.special img {
  max-width: 50%;
  border: 5px solid #808080;
  border-radius: 10px;
}



footer {
  background-color: #c0c0c0;
  padding: 50px;
  color: #808080;
  text-align: center;
}
.home {
  color: #808080;
}
.home:hover {
  color: #800000;
}

.create_instructions {
  text-align: center;
}

.create_form {
  background-color: #800000;
  border: 5px solid #808080;
  color: #808080;
  border-radius: 10px;
  text-align: center;
}
.create_form h3 {
  display: inline-flex;
  padding: 20px;
}
.create_form input:hover {
  color: #800000;
}
